---
import "../styles/global.css";
import EncoderDecoderTool from "../components/EncoderDecoderTool.astro";
import JsonFormatterTool from "../components/JsonFormatterTool.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My Profile</title>
  </head>
  <body class="bg-neutral-900">
    <header
      class="sticky top-4 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full before:absolute before:inset-0 before:max-w-5xl before:mx-2 lg:before:mx-auto before:rounded-full before:bg-neutral-800/30 before:backdrop-blur-md"
    >
      <nav
        class="relative max-w-5xl w-full py-2.5 ps-5 pe-2 md:flex md:items-center md:justify-between md:py-0 mx-2 lg:mx-auto"
      >
        <div class="flex items-center justify-between">
          <div class="md:hidden">
            <button
              type="button"
              class="hs-collapse-toggle size-8 flex justify-center items-center text-sm font-semibold rounded-full bg-neutral-800 text-white disabled:opacity-50 disabled:pointer-events-none"
              id="hs-navbar-floating-dark-collapse"
              aria-expanded="false"
              aria-controls="hs-navbar-floating-dark"
              aria-label="Toggle navigation"
              data-hs-collapse="#hs-navbar-floating-dark"
            >
              <svg
                class="hs-collapse-open:hidden shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <line x1="3" x2="21" y1="6" y2="6"></line>
                <line x1="3" x2="21" y1="12" y2="12"></line>
                <line x1="3" x2="21" y1="18" y2="18"></line>
              </svg>
              <svg
                class="hs-collapse-open:block hidden shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
              </svg>
            </button>
          </div>
        </div>

        <div
          id="hs-navbar-floating-dark"
          class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block"
          aria-labelledby="hs-navbar-floating-dark-collapse"
        >
          <div
            class="flex flex-col md:flex-row md:items-center md:justify-end gap-y-3 py-2 md:py-0 md:ps-7"
          >
            <a
              class="pe-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-hidden focus:text-neutral-300"
              href="#"
              aria-current="page">Home</a
            >
            <a
              class="pe-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-hidden focus:text-neutral-300"
              href="#">About</a
            >
            <a
              class="pe-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-hidden focus:text-neutral-300"
              href="#">Projects</a
            >
            <a
              class="pe-3 ps-px sm:px-3 md:py-4 text-sm text-white hover:text-neutral-300 focus:outline-hidden focus:text-neutral-300"
              href="#">Contact</a
            >
          </div>
        </div>
      </nav>
    </header>

    <main id="content">
      <div class="bg-neutral-900">
        <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-12">
          <h1 class="font-semibold text-white text-5xl md:text-6xl">
            <span class="text-[#ff0]">Hi there, I'm Sriram,</span>
          </h1>
          <div class="max-w-4xl">
            <p class="mt-5 text-neutral-400 text-lg">
              A passionate software engineer who loves bringing ideas to life on
              the web. Whether it's crafting smooth user experiences or solving
              tricky backend puzzles, I'm all about building things that are as
              fun to use as they are to create.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-neutral-900 bg-linear-to-t from-black to-transparent">
        <div class="max-w-5xl px-4 xl:px-0 mx-auto">
          <div class="max-w-3xl mb-10 lg:mb-14">
            <h2
              class="text-white font-semibold text-2xl md:text-4xl md:leading-tight"
            >
              My Projects
            </h2>
            <p class="mt-1 text-neutral-400">
              Here’s a peek at some of the things I’ve been building
              lately—projects that kept me up late (in a good way) and taught me
              a ton along the way.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-neutral-900 py-10 lg:py-16">
        <div class="max-w-5xl px-4 xl:px-0 mx-auto">
          <div class="max-w-3xl mb-10 lg:mb-14">
            <h2
              class="text-white font-semibold text-2xl md:text-4xl md:leading-tight"
            >
              Interactive Tools & Mini-Projects
            </h2>
            <p class="mt-1 text-neutral-400">
              A few small tools I've built to experiment and showcase different
              functionalities.
            </p>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
            <EncoderDecoderTool />
            <JsonFormatterTool />
          </div>
        </div>
      </div>

      <div class="bg-neutral-900">
        <div class="max-w-5xl px-4 xl:px-0 py-10 lg:py-20 mx-auto">
          <div class="max-w-3xl mb-10 lg:mb-14">
            <h2
              class="text-white font-semibold text-2xl md:text-4xl md:leading-tight"
            >
              Contact us
            </h2>
            <p class="mt-1 text-neutral-400">
              Whatever your goal - we will get you there.
            </p>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 lg:gap-x-16">
            <div
              class="md:order-2 border-b border-neutral-800 pb-10 mb-10 md:border-b-0 md:pb-0 md:mb-0"
            >
              <form>
                <div class="space-y-4">
                  <div class="relative">
                    <input
                      type="text"
                      id="hs-tac-input-name"
                      class="peer p-3 sm:p-4 block w-full bg-neutral-800 border-transparent rounded-lg sm:text-sm text-white placeholder:text-transparent focus:outline-hidden focus:ring-0 focus:border-transparent disabled:opacity-50 disabled:pointer-events-none
                    focus:pt-6
                    focus:pb-2
                    not-placeholder-shown:pt-6
                    not-placeholder-shown:pb-2
                    autofill:pt-6
                    autofill:pb-2"
                      placeholder="Name"
                    />
                    <label
                      for="hs-tac-input-name"
                      class="absolute top-0 start-0 p-3 sm:p-4 h-full text-neutral-400 text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-neutral-400
                      peer-not-placeholder-shown:text-xs
                      peer-not-placeholder-shown:-translate-y-1.5
                      peer-not-placeholder-shown:text-neutral-400"
                      >Name</label
                    >
                  </div>

                  <div class="relative">
                    <input
                      type="email"
                      id="hs-tac-input-email"
                      class="peer p-3 sm:p-4 block w-full bg-neutral-800 border-transparent rounded-lg sm:text-sm text-white placeholder:text-transparent focus:outline-hidden focus:ring-0 focus:border-transparent disabled:opacity-50 disabled:pointer-events-none
                    focus:pt-6
                    focus:pb-2
                    not-placeholder-shown:pt-6
                    not-placeholder-shown:pb-2
                    autofill:pt-6
                    autofill:pb-2"
                      placeholder="Email"
                    />
                    <label
                      for="hs-tac-input-email"
                      class="absolute top-0 start-0 p-3 sm:p-4 h-full text-neutral-400 text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-neutral-400
                      peer-not-placeholder-shown:text-xs
                      peer-not-placeholder-shown:-translate-y-1.5
                      peer-not-placeholder-shown:text-neutral-400"
                      >Email</label
                    >
                  </div>

                  <div class="relative">
                    <input
                      type="text"
                      id="hs-tac-input-company"
                      class="peer p-3 sm:p-4 block w-full bg-neutral-800 border-transparent rounded-lg sm:text-sm text-white placeholder:text-transparent focus:outline-hidden focus:ring-0 focus:border-transparent disabled:opacity-50 disabled:pointer-events-none
                    focus:pt-6
                    focus:pb-2
                    not-placeholder-shown:pt-6
                    not-placeholder-shown:pb-2
                    autofill:pt-6
                    autofill:pb-2"
                      placeholder="Company"
                    />
                    <label
                      for="hs-tac-input-company"
                      class="absolute top-0 start-0 p-3 sm:p-4 h-full text-neutral-400 text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-neutral-400
                      peer-not-placeholder-shown:text-xs
                      peer-not-placeholder-shown:-translate-y-1.5
                      peer-not-placeholder-shown:text-neutral-400"
                      >Company</label
                    >
                  </div>

                  <div class="relative">
                    <input
                      type="text"
                      id="hs-tac-input-phone"
                      class="peer p-3 sm:p-4 block w-full bg-neutral-800 border-transparent rounded-lg sm:text-sm text-white placeholder:text-transparent focus:outline-hidden focus:ring-0 focus:border-transparent disabled:opacity-50 disabled:pointer-events-none
                    focus:pt-6
                    focus:pb-2
                    not-placeholder-shown:pt-6
                    not-placeholder-shown:pb-2
                    autofill:pt-6
                    autofill:pb-2"
                      placeholder="Phone"
                    />
                    <label
                      for="hs-tac-input-phone"
                      class="absolute top-0 start-0 p-3 sm:p-4 h-full text-neutral-400 text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-neutral-400
                      peer-not-placeholder-shown:text-xs
                      peer-not-placeholder-shown:-translate-y-1.5
                      peer-not-placeholder-shown:text-neutral-400"
                      >Phone</label
                    >
                  </div>

                  <div class="relative">
                    <textarea
                      id="hs-tac-message"
                      class="peer p-3 sm:p-4 block w-full bg-neutral-800 border-transparent rounded-lg sm:text-sm text-white placeholder:text-transparent focus:outline-hidden focus:ring-0 focus:border-transparent disabled:opacity-50 disabled:pointer-events-none
                    focus:pt-6
                    focus:pb-2
                    not-placeholder-shown:pt-6
                    not-placeholder-shown:pb-2
                    autofill:pt-6
                    autofill:pb-2"
                      placeholder="This is a textarea placeholder"
                      data-hs-textarea-auto-height></textarea>
                    <label
                      for="hs-tac-message"
                      class="absolute top-0 start-0 p-3 sm:p-4 h-full text-neutral-400 text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none
                      peer-focus:text-xs
                      peer-focus:-translate-y-1.5
                      peer-focus:text-neutral-400
                      peer-not-placeholder-shown:text-xs
                      peer-not-placeholder-shown:-translate-y-1.5
                      peer-not-placeholder-shown:text-neutral-400"
                      >Tell us about your project</label
                    >
                  </div>
                </div>

                <div class="mt-2">
                  <p class="text-xs text-neutral-500">
                    All fields are required
                  </p>

                  <p class="mt-5">
                    <a
                      class="group inline-flex items-center gap-x-2 py-2 px-3 bg-[#ff0] font-medium text-sm text-neutral-800 rounded-full focus:outline-hidden"
                      href="#"
                    >
                      Submit
                      <svg
                        class="shrink-0 size-4 transition group-hover:translate-x-0.5 group-hover:translate-x-0 group-focus:translate-x-0.5 group-focus:translate-x-0"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                      </svg>
                    </a>
                  </p>
                </div>
              </form>
            </div>

            <div class="space-y-14">
              <div class="flex gap-x-5">
                <svg
                  class="shrink-0 size-6 text-neutral-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"
                  ></path>
                  <circle cx="12" cy="10" r="3"></circle>
                </svg>
                <div class="grow">
                  <h4 class="text-white font-semibold">Our address:</h4>

                  <address class="mt-1 text-neutral-400 text-sm not-italic">
                    300 Bath Street, Tay House<br />
                    Glasgow G2 4JR, United Kingdom
                  </address>
                </div>
              </div>

              <div class="flex gap-x-5">
                <svg
                  class="shrink-0 size-6 text-neutral-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z"
                  ></path>
                  <path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10"></path>
                </svg>
                <div class="grow">
                  <h4 class="text-white font-semibold">Email us:</h4>

                  <a
                    class="mt-1 text-neutral-400 text-sm hover:text-neutral-200 focus:outline-hidden focus:text-neutral-200"
                    href="#mailto:example@site.co"
                    target="_blank"
                  >
                    hello@example.so
                  </a>
                </div>
              </div>

              <div class="flex gap-x-5">
                <svg
                  class="shrink-0 size-6 text-neutral-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m3 11 18-5v12L3 14v-3z"></path>
                  <path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"></path>
                </svg>
                <div class="grow">
                  <h4 class="text-white font-semibold">We're hiring</h4>
                  <p class="mt-1 text-neutral-400">
                    We're thrilled to announce that we're expanding our team and
                    looking for talented individuals like you to join us.
                  </p>
                  <p class="mt-2">
                    <a
                      class="group inline-flex items-center gap-x-2 font-medium text-sm text-[#ff0] decoration-2 hover:underline focus:outline-hidden focus:underline"
                      href="#"
                    >
                      Job openings
                      <svg
                        class="shrink-0 size-4 transition group-hover:translate-x-0.5 group-hover:translate-x-0 group-focus:translate-x-0.5 group-focus:translate-x-0"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                      </svg>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="relative overflow-hidden bg-neutral-900">
      <svg
        class="absolute -bottom-20 start-1/2 w-[1900px] transform -translate-x-1/2"
        width="2745"
        height="488"
        viewBox="0 0 2745 488"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.5 330.864C232.505 403.801 853.749 527.683 1482.69 439.719C2111.63 351.756 2585.54 434.588 2743.87 487"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 308.873C232.505 381.81 853.749 505.692 1482.69 417.728C2111.63 329.765 2585.54 412.597 2743.87 465.009"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 286.882C232.505 359.819 853.749 483.701 1482.69 395.738C2111.63 307.774 2585.54 390.606 2743.87 443.018"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 264.891C232.505 337.828 853.749 461.71 1482.69 373.747C2111.63 285.783 2585.54 368.615 2743.87 421.027"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 242.9C232.505 315.837 853.749 439.719 1482.69 351.756C2111.63 263.792 2585.54 346.624 2743.87 399.036"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 220.909C232.505 293.846 853.749 417.728 1482.69 329.765C2111.63 241.801 2585.54 324.633 2743.87 377.045"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 198.918C232.505 271.855 853.749 395.737 1482.69 307.774C2111.63 219.81 2585.54 302.642 2743.87 355.054"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 176.927C232.505 249.864 853.749 373.746 1482.69 285.783C2111.63 197.819 2585.54 280.651 2743.87 333.063"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 154.937C232.505 227.873 853.749 351.756 1482.69 263.792C2111.63 175.828 2585.54 258.661 2743.87 311.072"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 132.946C232.505 205.882 853.749 329.765 1482.69 241.801C2111.63 153.837 2585.54 236.67 2743.87 289.082"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 110.955C232.505 183.891 853.749 307.774 1482.69 219.81C2111.63 131.846 2585.54 214.679 2743.87 267.091"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 88.9639C232.505 161.901 853.749 285.783 1482.69 197.819C2111.63 109.855 2585.54 192.688 2743.87 245.1"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 66.9729C232.505 139.91 853.749 263.792 1482.69 175.828C2111.63 87.8643 2585.54 170.697 2743.87 223.109"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 44.9819C232.505 117.919 853.749 241.801 1482.69 153.837C2111.63 65.8733 2585.54 148.706 2743.87 201.118"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 22.991C232.505 95.9276 853.749 219.81 1482.69 131.846C2111.63 43.8824 2585.54 126.715 2743.87 179.127"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
        <path
          d="M0.5 1C232.505 73.9367 853.749 197.819 1482.69 109.855C2111.63 21.8914 2585.54 104.724 2743.87 157.136"
          class="stroke-neutral-700/50"
          stroke="currentColor"></path>
      </svg>

      <div class="relative z-10">
        <div class="w-full max-w-5xl px-4 xl:px-0 py-10 lg:pt-16 mx-auto">
          <div class="inline-flex items-center">
            <div class="border-s border-neutral-700 ps-5 ms-5">
              <p class="text-sm text-neutral-400">© 2025 Sai Sriram.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/preline/dist/index.js"></script>
  </body>

  <script src="../../node_modules/preline/dist/preline.js"></script>
</html>
